.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  /* margin-bottom: 10px; */
}

.book-title,
.book-author,
.priority {
  width: 500px;
  height: 60px;
  margin-bottom: 40px;
  margin-top: 10px;
  /* outline: none; */
}
.book-title,
.book-author,
.priority::placeholder {
  font-size: 20px;
  /* margin-left: 20px; */
}

.book-title:focus,
.book-author:focus,
.priority:focus {
  outline: none;
  border-color: #2196f3;
}

.category-list {
  width: 500px;
  height: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
}

.category-list:focus {
  border-color: #2196f3;
}
.category-option {
  font-size: 30px;
}

.btn-submit {
  display: block;
  width: 300px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  background-color: #2196f3;
}

.books-table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  /* border: solid 2px black;  */
}

.books-table-header {
  font-size: 40px;
  /* text-align: center; */
}

.table-head {
  padding-right: 40px;
  /* border-bottom: solid 2px black; */
  background-color: #f5f5dc;
  width: 200px;
  text-align: center;
  /* border-right: solid 2px black; */
}

.booksTableElement {
  font-size: 40px;
  text-align: center;
  background-color: #d3d3d3;
}

.main-menu-back {
  font-size: 25px;
}
/* .book-title,
.book-author,
.priority:focus {
  outline: none;
  border-color: dodgerblue;
} */

/* .book-author {
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.priority {
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
} */

/* .form-container {
  display: flex;
  flex-direction: column;
} */
